<div class="container">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{starshipsInfo.name}}</h5>
    <p class="card-text">Model:{{starshipsInfo.model}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Passengers:{{starshipsInfo.passengers}}</li>
    <li class="list-group-item">Cargo capacity:{{starshipsInfo.cargo_capacity}}</li>
    <li class="list-group-item">Consumables:{{starshipsInfo.consumables}}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Films</a>
    <a href="#" class="card-link">Residents</a>
  </div>
</div>
</div>


