
<div class="container">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{planetInfo.name}}</h5>
    <p class="card-text">Diameter:{{planetInfo.diameter}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Population:{{planetInfo.population}}</li>
    <li class="list-group-item">Surface water:{{planetInfo.surface_water}}</li>
    <li class="list-group-item">Terrain:{{planetInfo.terrain}}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Films</a>
    <a href="#" class="card-link">Residents</a>
  </div>
</div>
</div>

