
<div class="container">
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{personInfo.name}}</h5>
      <p class="card-text">DOB:{{personInfo.birth_year}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Gender:{{personInfo.gender}}</li>
      <li class="list-group-item">Eye color:{{personInfo.eye_color}}</li>
      <li class="list-group-item">Height:{{personInfo.height}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Starships</a>
      <a href="#" class="card-link">vehicles</a>
    </div>
  </div>
</div>
